<ion-content> 
    <ion-grid class="ion-no-padding container">

        <app-appl-name></app-appl-name>

        <div id="button-container">
            <ion-row>
                <ion-col class="ion-text-start" sizeXs="12" sizeLg="4" sizeMd="4" size="4">
                    <ion-button id="sort-btn" type="button" (click)="presentAlert()">
                        <ion-icon slot="start" name="calendar-outline"></ion-icon>
                        Select year
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
        
        <canvas #barCanvas1></canvas>

        <canvas #barCanvas2 ></canvas>

    </ion-grid>
</ion-content>

<app-footer page="graphics"></app-footer>
