ion-img
{
  width: 300px;
  height: 300px;
}

ion-grid
{
  max-width: 720px; 
}

ion-row
{
  justify-content: space-around;
  align-items: center;
}

.container
{
    max-width:  900px;
}

h1
{
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 20px 20px 0 20px;
}